Solution2010/ModernCashFlow.WpfControls/SampleData/SampleDataSource1/SampleDataSource1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SampleDataSource1" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SampleDataSource1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource1" type="tns:SampleDataSource1" />
  <xs:complexType name="SampleDataSource1">
    <xs:attribute blend:FormatParameters="4" name="content" type="xs:double" />
    <xs:attribute blend:FormatParameters="1,6" name="header" type="xs:string" />
    <xs:attribute name="header2" type="xs:string" />
    <xs:attribute name="content2" type="xs:string" />
    <xs:attribute blend:FormatParameters="4,3" name="header_3" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,3" name="content_3" type="xs:string" />
  </xs:complexType>
</xs:schema>