Solution2010/ModernCashFlow.WpfControls/SampleData/SampleDataSource_PendingTransactions/SampleDataSource_PendingTransactions.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleDataSource_PendingTransactions" targetNamespace="Expression.Blend.SampleData.SampleDataSource_PendingTransactions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource_PendingTransactions" type="tns:SampleDataSource_PendingTransactions" />
  <xs:complexType name="SampleDataSource_PendingTransactions">
    <xs:sequence>
      <xs:element name="TodayPayments" type="tns:TodayPayments" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TodayPayments">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="TodayPaymentsItem" type="tns:TodayPaymentsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TodayPaymentsItem">
    <xs:sequence>
      <xs:element name="Transaction" type="tns:Transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Transaction">
    <xs:attribute blend:FormatParameters="4" name="AbsoluteValue" type="xs:double" />
    <xs:attribute blend:Format="Date" name="Date" type="xs:string" />
    <xs:attribute blend:FormatParameters="4,6" name="TransactionStatusDescription" type="xs:string" />
  </xs:complexType>
</xs:schema>