Solution2010/ModernCashFlow.WpfControls/SampleData/SampleDataSource3/SampleDataSource3.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleDataSource3" targetNamespace="Expression.Blend.SampleData.SampleDataSource3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource3" type="tns:SampleDataSource3" />
  <xs:complexType name="SampleDataSource3">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute blend:Format="Date" name="Data" type="xs:string" />
    <xs:attribute blend:FormatParameters="4" name="Valor" type="xs:double" />
    <xs:attribute name="Status" type="xs:string" />
  </xs:complexType>
</xs:schema>